html {
  overflow-x: hidden;
}

body {
  padding-top: 90px;
}

h2 {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

h3 {
  font-family: "Source Sans Pro";
  font-size: 20px;
  color: #000000;
  text-align: center;
}

h4 {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}

h5 {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
}

/*NAVBAR*/

.navbar {
  background-color: #ff6633;
  height: 80px;
  padding: 0px 60px;
}

.navbar-nav {
  padding-top: 15px;
}

.fcolor {
  color: white !important;
}

.navcontainer {
  align-items: baseline;
}

/*HOMEPAGE*/

#homepage {
  display: block;
  position: inherit;
}

.large {
  width: 100vw;
}

.homepic {
  width: 100vw !important;
  /*margin-top: -100px;*/
}

.carousel-inner {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  margin-top: -100px;
  position: fixed;
  z-index: -2;
  overflow-y: scroll;
}

.container {
  margin: 0px !important;
  padding: 0px !important;
  height: 100vh;
  width: 100vw;
}

/*CARD*/

.card {
  width: 200px;
  height: 500px;
  position: absolute;
  z-index: 1;
  margin-left: 80vw;
  margin-top: 70px;
}

.btn {
  background-color: #ff6633 !important;
  color: white;
  font-weight: bold;
  font-size: 15px;
  height: 75px;
  padding: 25px;
  text-align: center;
}

.btn:hover {
  background-color: #ffffff !important;
  color: #ff6633;
  height: 75px;
  padding: 25px;
  text-align: center;
}

/*WELCOME PAGE*/

#feature-three {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 100px 100px;
}

.welcome {
  margin: 150px 0px;
  text-align: center;
}

.welcomeh2 {
  color: #ff6633;
}


.btn-info {
  margin-top: 10px;
  background-color: #ff6633 !important;
  font-family: "Source Sans Pro";
  color: white;
  font-weight: bold;
  width: 200px;
  letter-spacing: 1px;
  box-shadow: 5px 10px 18px #888888;
}


/*CHILDCARE PAGE*/

#feature-four {
  background-image: url('img/Childcare.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 150px 100px;
}

.cwhite {
  color: white;
}

.childbuttons {
  display: flex;
  align-self: center;
  padding-top: 200px;
  padding-left: 150px;
  padding-right: 150px;
  justify-content: space-between;
}

.btn-dark {
  box-shadow: 5px 10px 18px #181515;
}


/*GET INVOLVED*/

#feature-five {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ff6633;
  padding: 150px 100px;
  column-count: 2;
  display: flex;
  flex-wrap: wrap;
}

.video {
  padding-right: 25px;
}

.getinvolved {
  margin-right: 50px;
  border-right: thin solid #ffffff;
}

.eventsNews {
  width: 500px;
}

/*FOOTER */

#main-footer {
  background-color: #333333;
  /*height: 200px;*/
  padding: 50px 200px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  columns: 2;
}

.socialMedia {
  padding-left: 20px;
}

.small {
  margin-top: 5px;
}


@media only screen and (max-width: 800px) {
    .card {
        visibility: hidden;
    }
    .list {

    }
    #feature-three {
      margin-top: -120px;
      background-color: #ffffff;
    }
}
